
.default, body {
  font-style : normal;
  font-family : monospace;
  font-size : 10pt;
}

code {
  left: 10px;
  width: 49%;
  height: 90%;
  overflow : auto;
  color: #808080;
  outline: none;
  display: inline;
  float: left;
}

source {
  left: 700px;
  width: 49%;
  height: 90%;
  overflow : auto;
  color: #808080;
  outline: none;
  display: inline;
  float: right;
}

editorAttributes {
    top: 125px;
    left: 10px;
    position: absolute;
}

byte {
  font-family : monospace;
  font-size : 10pt;
}

src {
  font-family : monospace;
  font-size : 10pt;
}

byte:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline
}

src:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline
}

::selection {
    color: black;
    font-weight: bold;
    background-color: yellow;
}

pagepanel {
    font-family: monospace;
    color: gray;
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
    cursor: pointer;
    padding-top: 5px;
}

page {
    padding: 0 5 0 5;
}

page:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}